@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: #01242e;
  color: white;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 50px;
}

header {
  margin-top: 16px;
  margin-bottom: 30px;
}

header a {
  margin-right: 16px;
  text-decoration: none;
  color: inherit;
}

.nav-link {
  color: #fafad2;
}

.main-content a {
  color: #fafad2;
  text-decoration: none;
}

.main-content a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.main-content {
  flex-grow: 1;
}

.page-heading {
  margin-bottom: 32px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.grid-item {
  width: 5rem;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.grid-item img {
  max-width: 100%;
}

.grid-item span {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 75%;
  bottom: 75%;
  translate: translateY(-50%);
  line-height: 1.4;
  width: 2em;
  height: 2em;
  padding: 0.3em;
  font-size: 0.8em;
  cursor: default;
  background: #fafad2;
  border-radius: 50%;
}

.grid-item:hover span {
  visibility: visible;
}

.posts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
}

footer {
  border-top: 1px solid;
  margin-top: 16px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  max-width: 30px;
}
